* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

.header {
    background-image: url(anthony-delanoix-222456-unsplash.jpg);
    background-size: cover;
    background-position: center;
    padding: 200px 0
}

h1 {
    text-align: center;
    font-size: 50px;
 }

 .flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 } 

 .flexbox > div {
    margin: 30px;
  }

.box1 {
    background-color: #FFFF00;
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    font-size: 40px;
    border: 2px solid #000;
}

.box2 {
    background-color: #5FB404;
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    font-size: 40px;
    border: 2px solid #000;
}

.box3 {
    background-color: #FE9A2E;
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    font-size: 40px;
    border: 2px solid #000;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

 .flexbox:nth-child(even) {
    flex-direction: row-reverse;
}

.box_text {
    text-align: center;
}

dt {
    float: left;
    clear: both;
}
 

/* input[type="submit"]{
    background-color: #5FB404;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 15px;
    width: 600px;
}
  
.btn-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    height: 35px;
  }  */